[access]
	inheritFrom = All-Projects
[submit]
	action = rebase if necessary
[access "refs/*"]
	owner = group user/Sam Shen (wssrcok)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Sam Shen (wssrcok)
	label-Verified = -1..+1 group user/Sam Shen (wssrcok)
	push = group user/Sam Shen (wssrcok)
	read = group user/Sam Shen (wssrcok)
	rebase = group user/Sam Shen (wssrcok)
	removeReviewer = group user/Sam Shen (wssrcok)
	submit = group user/Sam Shen (wssrcok)
[access "refs/heads/*"]
	create = group user/Sam Shen (wssrcok)
	push = +force group user/Sam Shen (wssrcok)
	pushMerge = group user/Sam Shen (wssrcok)
	read = group user/Sam Shen (wssrcok)
[access "refs/tags/*"]
	push = group user/Sam Shen (wssrcok)
	push = +force group user/Sam Shen (wssrcok)
